.section_services_accurate_realiable{
    background:#5a5a8c;
    
    .style_title_city{
        padding-top:111px;
    }
    .style_title_h2{
        margin:0px;
    }
    img{
        padding-top:90px;
    }
    .style_title_city{
        font-size:14px;
        letter-spacing:0.9px;
        color:#b3b3bc;
        margin-bottom:8px;
    }
    .style_title_h2{
        color:#fff;
        padding-left:22.5px;
    }
    
    
}