.structure_section_glad_to_help{
    
    padding-bottom:174px;
    
    .container{
        padding:0px;
    }
    .structure_paragraph_help{
        padding-top:160px;
        padding-bottom:12px;
        margin:0px;
     
    }
    
    .structure_title_city{
        padding-top:110px;
        font-size:14px;
        letter-spacing:0.9px;
        color:#b3b3bc;
    }
    
    .structure_address_personal{
       
        text-decoration:underline;
        font-size:13px;
        letter-spacing:1.3px;
        a{
             color:#93939b;
        }
    }
    
    .structure_number_phone{
        padding-top:8px;
    }
    
    .structure_section{
        padding-top:43px;
        margin:0px;
        padding-bottom:16px;
    }
    
    .structure_title_name{
        color:#5a5a8c;
        margin:0px;
        padding-bottom:7px;
        padding-top:23px;
        font-weight:700;
        letter-spacing:1.5px;
    }
    
    .style_title_h2{
        color:#5a5a8c;
        margin:0px;
    }
    
    .structure_question{
        padding-right:0px;
    }
    
    .structure_form_text{
        padding-top:23.3px;
    }
}