.section_range_of_work{
    
    padding-bottom:65px;
    
    .style_title_city{
        padding-top:111px;
        margin-bottom:0px;
        letter-spacing:1.1px;
        font-size:13.5px;
        color:#b3b3bc;
    }

    .style_title_h2{
        color:#5a5a8c;
        margin-top:8px;
       
    }

    .structure_service{
        padding-top:41px;
        
        
         h3{
        
        font-size:21px;
        font-family: 'Raleway', sans-serif;
        color:#5a5a8c;
        font-weight:500;
        letter-spacing:1px;
      }
      
      p{
        padding-top:10px;
        font-size:16px;
        font-family: 'Raleway', sans-serif;
        color:#b3b3bc;
        letter-spacing:1px;
        line-height:1.6;
      }
      
      div{
          height:175px;
      }
    }
    
   
      
        
      
     
    
    
    
    
    
    
}