.project-detail {
    margin: 80px 0 40px 0;
}

.details {
    width: 650px;
    margin: 0 auto;
}

.detail-title {
    font-size: 18px;
}

h4 {
    color: #5a5a8c;
}

.details p {
    margin-bottom: 40px;
}